In [16]:
#Load Libraries and Create engine Connection

import pymysql
import pandas as pd
import numpy as np
import sqlalchemy
import gc
engine =sqlalchemy.create_engine(
        sqlalchemy.engine.url.URL.create(
        drivername="mysql+pymysql",
        username='Estimators',  # e.g. "my-database-user"
        password='Estimator2021',  # e.g. "my-database-password"
        host='34.77.88.127',  # e.g. "127.0.0.1"
        port=3306,  # e.g. 3306
        database='Housing_France',  # e.g. "my-database-name"
    ))

conn = engine.connect().execution_options(stream_results=True)

In [17]:
#Load Libraries and Create engine Connection

import pymysql
import pandas as pd
import numpy as np
import sqlalchemy
import gc

def get_data(querystring,chunk):
    engine =sqlalchemy.create_engine(
    sqlalchemy.engine.url.URL.create(
    drivername="mysql+pymysql",
    username='Estimators',  # e.g. "my-database-user"
    password='Estimator2021',  # e.g. "my-database-password"
    host='34.77.88.127',  # e.g. "127.0.0.1"
    port=3306,  # e.g. 3306
    database='Housing_France',  # e.g. "my-database-name"
    ))
    conn = engine.connect().execution_options(stream_results=True)
    frame = pd.DataFrame()
    for chunk_dataframe in pd.read_sql(
            querystring, conn, chunksize=chunk):
            print(f"Got dataframe w/{len(chunk_dataframe)} rows")
            frame= frame.append(chunk_dataframe)
            # ... do something with dataframe ...
            
    return frame

In [57]:
#Template for getting some data
df = get_data("""select * from data_working LIMIT 200000""", 100000)

Got dataframe w/100000 rows
Got dataframe w/100000 rows

In [59]:
#Replace all the blank rows with np.NaN

for i in df.columns:
    df[i].replace(r'', np.nan, regex=True, inplace= True)

In [60]:
#Some Preprocessing
df2 = df.copy()
df2 = df2[df2['type_local']. notna()]
df2 = df2[df2['id_mutation']!= 'id_mutation']
df2 = df2[df2['type_local']== 'Maison']
columns = ['ancien_nom_commune','ancien_id_parcelle','ancien_code_commune','lot5_surface_carrez','lot4_surface_carrez','lot5_numero'
            ,'lot3_surface_carrez', 'numero_volume','lot4_numero','lot3_numero','adresse_suffixe']
df2.drop(columns=columns, inplace=True)

In [64]:
df.shape

(200000, 40)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 0 to 99999
Data columns (total 40 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id_mutation                   200000 non-null  object
 1   date_mutation                 200000 non-null  object
 2   numero_disposition            200000 non-null  int64
 3   nature_mutation               200000 non-null  object
 4   valeur_fonciere               200000 non-null  int64
 5   adresse_numero                200000 non-null  int64
 6   adresse_suffixe               7119 non-null    object
 7   adresse_nom_voie              199318 non-null  object
 8   adresse_code_voie             199319 non-null  object
 9   code_postal                   200000 non-null  int64
 10  code_commune                  200000 non-null  int64
 11  nom_commune                   200000 non-null  object
 12  code_departement              200000 non-null  int64
 13  ancien_code_commune           3459 non-null    object
 14  ancien_nom_commune            3459 non-null    object
 15  id_parcelle                   200000 non-null  object
 16  ancien_id_parcelle            1171 non-null    object
 17  numero_volume                 200000 non-null  int64
 18  lot1_numero                   62649 non-null   object
 19  lot1_surface_carrez           200000 non-null  float64
 20  lot2_numero                   200000 non-null  int64
 21  lot2_surface_carrez           200000 non-null  float64
 22  lot3_numero                   200000 non-null  int64
 23  lot3_surface_carrez           200000 non-null  float64
 24  lot4_numero                   200000 non-null  int64
 25  lot4_surface_carrez           200000 non-null  float64
 26  lot5_numero                   200000 non-null  int64
 27  lot5_surface_carrez           39 non-null      object
 28  nombre_lots                   200000 non-null  int64
 29  code_type_local               200000 non-null  int64
 30  type_local                    102553 non-null  object
 31  surface_reelle_bati           200000 non-null  int64
 32  nombre_pieces_principales     200000 non-null  int64
 33  code_nature_culture           137169 non-null  object
 34  nature_culture                137169 non-null  object
 35  code_nature_culture_speciale  7547 non-null    object
 36  nature_culture_speciale       7547 non-null    object
 37  surface_terrain               200000 non-null  int64
 38  longitude                     200000 non-null  float64
 39  latitude                      200000 non-null  float64
dtypes: float64(6), int64(16), object(18)
memory usage: 62.6+ MB